@layout('layouts/admin')

@set('title', 'Starter admin template')

@section('body')
<!-- Remove everything INSIDE this div to a blank page -->
<div class="container px-6 mx-auto grid">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Olá, {{auth.user.name}}!
  </h2>
</div>
@end