<h1> Olá, {{ name }} </h1>
<p>
    Foi solicitada a redefinição da sua senha de acesso ao nosso site. </p>
<p>
    Se deseja prosseguir com o processo de redefinição <a href="{{url}}">clique aqui</a>. Esse link irá expirar em uma
    hora.
</p>
<p>Caso você não queira seguir ou não tenha solicitado, nenhuma ação é necessária.</p>