<div x-data="alert()" x-show="isOpen" class="alert-{{type}}" role="alert">
    <div class="text-sm font-medium">{{message}}</div>
    <button type="button"
        class="ml-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:hover:bg-gray-700"
        aria-label="Close" @click="close">
        <span class="sr-only">Close</span>
        @!svg.close()
    </button>
</div>